NODE_ENV=development
PORT=3000

# Database Configurations
# Prisma PostgreSQL Connection
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/project_tutor?schema=public

# MongoDB Connection
MONGODB_URI=mongodb://root:example@localhost:27017/project_tutor?authSource=admin

# Redis Connection
REDIS_URL=redis://localhost:6379

# JWT and Authentication Security
JWT_SECRET=your_jwt_access_secret_key_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here
OTP_EXPIRY=300
